<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">Lagu Que sera sera</p>
                    <audio width="300" height="32" preload="auto" source src="Que_sera_sera-ORI.ogg" controls="controls" loop="loop">
</audio>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">Lagu cublak cublak suweng</p>
                    <audio width="300" height="32" preload="auto" source src="cublak-cublak suweng kolaborasi musik modern dn tradisional.ogg" controls="controls" loop="loop">
</audio>
    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Nasyid Maidani</h3>
                    <p class="text-muted">Jangan Jatuh Cinta Tapi Bangun Cinta</p>
                    <audio width="300" height="32" preload="auto" source src="jangan jatuh cinta.ogg" controls="controls" loop="loop">
</audio>
                </div>
            </div>
        </div>
    </div>
</section>
